@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.partOfSpeech {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: italic ;
}



/* font-family: "Inter", sans-serif; */

  /* font-family: "Lora", sans-serif;
  font-weight: normal; */

  /* font-family: "Inconsolata", sans-serif; */

